.header-top {
  padding: 17px 0;
  -webkit-box-shadow: 0 3px 15px rgba(157, 157, 157, 0.14);
  box-shadow: 0 3px 15px rgba(157, 157, 157, 0.14);
}

.header-lk {
  padding: 3px 0;
  -webkit-box-shadow: 0 1px 5px rgba(157, 157, 157, 0.14);
  box-shadow: 0 1px 5px rgba(157, 157, 157, 0.14);
}

.logo_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-top__img {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%;
}

.logo-top__title {
  font-size: 40px;
  font-weight: 700;
  color: #001e45;
  -ms-flex-preferred-size: 70%;
  flex-basis: 70%;
  margin-left: 100px;
  margin-right: 10px;
}

.header-btn {
  height: 48px;
  font-size: 16px;
  color: #3a499d;
  background-color: #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  font-size: 16px;
  line-height: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  padding: 0 1.9vw;
  -webkit-transition: background 0.3s ease, color 0.3s ease, outline 0.3s ease, opacity 0.3s ease;
  transition: background 0.3s ease, color 0.3s ease, outline 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  height: 52px;
  white-space: nowrap;
  color: #3a499d;
  border: 0;
}
.header-btn:hover {
  color: #273583;
  background-color: rgba(102, 120, 143, 0.3);
}

.logo-top__img--lk img {
  max-height: 38px;
}

@media only screen and (max-width: 670px) {
  .logo-top__img {
    margin-right: 15px;
    max-width: 60px;
    min-width: 60px;
  }

  .logo-top__title {
    font-size: 18px;
    margin-left: 10px;
  }
}
.header-lk__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-lk {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 13px;
  opacity: 0.8;
}
.btn-lk:last-child {
  margin-right: 0;
}
.btn-lk:hover {
  opacity: 1;
}

.ic_lk {
  width: 20px;
  height: 20px;
  fill: #737D87;
  margin-right: 10px;
}

.ic-refresh {
  -webkit-transform: rotate(230deg);
  transform: rotate(230deg);
}

.ui-slider {
  background: #5865ae;
  height: 5px;
  border: none;
  border-radius: 0 4px 4px 4px;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
  margin-top: -4px;
}

.ui-slider-handle {
  border-radius: 50%;
  width: 19px !important;
  height: 19px !important;
  border: 5px solid #3a499d !important;
  margin-top: -2px;
  cursor: pointer !important;
  background: #fff !important;
  z-index: 90 !important;
}

.ui-slider-range {
  background: #dde1e6;
}

.ui-state-focus {
  outline: 0;
}

.pips {
  width: 100%;
  position: relative;
  margin-top: 9px;
  display: block;
  margin-bottom: 35px;
  z-index: 60;
}
.pips .pip {
  position: absolute;
  font: 14px Roboto, sans-serif;
  color: #66788f;
  white-space: nowrap;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
}
.pips .pip::before {
  content: "";
  position: absolute;
  top: -14px;
  width: 3px;
  height: 5px;
  background: #a1acba;
  left: 50%;
}

.pip1 {
  left: 30px;
}
.pip1::before {
  display: none;
}

.pip2 {
  left: 20%;
}

.pip3 {
  left: 40%;
}

.pip4 {
  left: 60%;
}

.pip5 {
  left: 80%;
}

.pip6 {
  left: 96%;
}
.pip6::before {
  display: none;
}

.pip1-1 {
  left: 30px;
}
.pip1-1::before {
  display: none;
}

.pip2-2 {
  left: 25%;
}

.pip3-3 {
  left: 50%;
}

.pip4-4 {
  left: 75%;
}

.pip5-5 {
  left: 96%;
}
.pip5-5::before {
  display: none;
}

@media only screen and (max-width: 576px) {
  .pip2,
.pip3,
.pip4,
.pip5,
.pip2-2,
.pip3-3,
.pip4-4 {
    display: none;
  }

  .pip6 {
    left: 90%;
  }
}
.section {
  position: relative;
  display: block;
  padding: 32px 0;
}

.product-form {
  padding: 20px 30px 30px 30px;
  border-radius: 16px;
  -webkit-box-shadow: 0 4px 22px rgba(0, 0, 0, 0.14);
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.14);
  margin-right: 25px;
}

.input_title {
  font: 700 30px Roboto, sans-serif;
  color: #001e45;
  margin-bottom: 20px;
}

.double-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.rouble {
  position: absolute;
  right: 30px;
  top: 22px;
  color: #66788F;
  font-size: 22px;
}

.input-wrp {
  margin-bottom: 7px;
  position: relative;
}

.input-wrp--slider {
  margin-bottom: 50px;
}

.calc-input {
  padding: 8px 16px;
  padding-top: 8px;
  font: 23px Roboto, sans-serif;
  line-height: normal;
  color: #001e45;
  border: 1px solid #dde1e6;
  background: #f2f2f7;
  border-radius: 10px;
  width: 100%;
  height: 65px;
  -webkit-transition: color 0.3s, background 0.3s, border-color 0.3s;
  transition: color 0.3s, background 0.3s, border-color 0.3s;
  line-height: 144%;
  -webkit-user-select: text;
  margin-bottom: 30px;
}

.bordered-right {
  width: 79%;
  border-right: none;
  border-radius: 10px 0 0 10px;
  margin-bottom: 0;
}

.bordered-left {
  width: 21%;
  border-left: none;
  border-radius: 0 10px 10px 0;
  margin-bottom: 0;
}

.credit-term {
  left: 16px;
  top: 10px;
  pointer-events: none;
  position: absolute;
  font: 14px Roboto, sans-serif;
  line-height: normal;
  color: #66788f;
  -webkit-transition: top 0.3s, left 0.3s, font-size 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s, left 0.3s, font-size 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s, left 0.3s, transform 0.3s, font-size 0.3s;
  transition: top 0.3s, left 0.3s, transform 0.3s, font-size 0.3s, -webkit-transform 0.3s;
  line-height: 150%;
}

.input-slide {
  padding-top: 30px;
  margin-bottom: 0;
  font-size: 18px;
  border-radius: 10px 10px 0 0;
}

@media only screen and (max-width: 992px) {
  .product-form {
    margin-right: 0px;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .product-form {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .input_title {
    font: 700 22px Roboto, sans-serif;
    color: #001e45;
    margin-bottom: 18px;
  }

  .calc-input {
    font: 18px Roboto, sans-serif;
  }
}
.input-err {
  border: 1px solid #cc003d;
  color: #cc003d;
  background: rgba(237, 0, 0, 0.05);
  margin-bottom: 5px;
}

.input-slide {
  margin-bottom: 0;
}

.err-msg {
  position: relative;
  display: block;
  color: #cc003d;
  border-radius: 4px;
  font-size: 14px;
  padding: 7px;
  bottom: 0;
  margin-bottom: 5px;
}

.ic_err {
  position: absolute;
  right: 15px;
  top: 22px;
  width: 24px;
  height: 24px;
  fill: #cc003d;
}

.disabled {
  opacity: 0.5;
}

.cresults__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 30px;
}
.cresults__labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 10px;
}
.cresults__label--title {
  max-width: 115px;
  color: #001e45;
  display: block;
  font: 500 16px Roboto, sans-serif;
  line-height: 1.5;
}
.cresults__label--summ {
  color: #001e45;
  display: block;
  font: 700 36px Roboto, sans-serif;
  white-space: nowrap;
  line-height: 1;
}
.cresults__progress {
  position: relative;
  height: 4px;
  width: 100%;
  display: block;
}
.cresults__progress--gray {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 3px;
  width: 100%;
  background: #dde1e6;
}
.cresults__progress--red {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-radius: 3px;
  background: #cc003d;
}
.cresults__checkbox {
  margin-bottom: 40px;
}
.cresults__link {
  font-size: 18px;
  color: #001e45;
  margin-left: 30px;
  display: block;
  margin-bottom: 40px;
  font-weight: 500;
}
.cresults__link:hover {
  color: #cc003d;
}
.cresults__btn {
  padding: 23px;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #cc003d;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 3px;
  font-size: 19px;
}
.cresults__btn:hover {
  color: #fff;
  background: #b30035;
}

@media only screen and (max-width: 576px) {
  .cresults__label--summ {
    font: 700 26px Roboto, sans-serif;
  }
  .cresults__link {
    font-size: 14px;
  }
}
.cresults__btn--disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.cresults__btn--disabled:hover {
  background: #cb003d;
}

.custom-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.checkbox-hidden {
  display: none;
}

.checkbox-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25px;
  max-width: 25px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25px;
  flex: 0 0 25px;
  height: 25px;
  border-radius: 2px;
  background: #cc003d;
}

.custom-checkbox input:checked + .checkbox-wrap::after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.custom-checkbox .checkbox-wrap::after {
  content: "";
  display: block;
  width: 12px;
  height: 10px;
  background: url(../img/svg-check-ic.svg) no-repeat 0 0;
  will-change: transform;
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}

.checkbox-text {
  margin-left: 10px;
  color: #001e45;
  line-height: 1.1;
  margin-top: -3px;
  font-size: 18px;
  width: 80%;
  font-weight: 500;
}

@media only screen and (max-width: 576px) {
  .checkbox-text {
    font-size: 14px;
  }
}
.table thead th {
  position: relative;
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6 !important;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: transparent;
}

.section_lk {
  background: #F5FAFF;
  min-height: 100vh;
  position: relative;
}
.section_lk table {
  overflow: hidden;
  border-radius: 4px !important;
  z-index: 90;
  position: relative;
}
.section_lk .table--lk {
  margin-top: 20px;
}
.section_lk .table--lk {
  background: #fff;
}
.section_lk .table--lk > tbody {
  background: #fff;
}
.section_lk thead th {
  font-size: 14px;
  color: #868788;
  padding: 14px 15px !important;
  line-height: 1.3 !important;
  vertical-align: top;
}
.section_lk .table > tbody {
  font-size: 13px;
  background: #fff;
  line-height: 1.3;
}
.section_lk .table > tbody td {
  padding: 14px 15px;
}
.section_lk .td-date {
  font-size: 13px;
}

.active-top::after {
  right: 1em;
  content: "\f0de";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1rem;
  opacity: 1;
  position: absolute;
  bottom: 1.3em;
  display: block;
  opacity: 0.3;
  cursor: pointer;
}
.active-top::before {
  content: "\f0dd";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  right: 16px;
  font-size: 1rem;
  position: absolute;
  bottom: 1.3em;
  display: block;
  cursor: pointer;
}

.active-bottom::after {
  right: 1em;
  content: "\f0de";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1rem;
  opacity: 1;
  position: absolute;
  bottom: 1.3em;
  display: block;
  cursor: pointer;
}
.active-bottom::before {
  content: "\f0dd";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  right: 16px;
  font-size: 1rem;
  position: absolute;
  bottom: 1.3em;
  display: block;
  cursor: pointer;
  opacity: 0.3;
}

.bg_img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.bg_img img {
  display: block;
}

.load-more {
  padding: 7px;
  background: #A3AEBC;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 170px;
  color: #001e45;
}
.load-more:hover {
  color: #001e45;
  background: #94a1b1;
}

.section-enter {
  background: #F5FAFF;
  min-height: 100%;
  position: relative;
}

.enter-form {
  background: #fff;
  -webkit-box-shadow: 0 5px 40px 0 rgba(2, 24, 150, 0.12);
  box-shadow: 0 5px 40px 0 rgba(2, 24, 150, 0.12);
  width: 758px;
  padding: 20px 30px 30px 30px;
  position: relative;
  z-index: 20;
}
.enter-form .input_title {
  text-align: center;
}

.btn-next {
  padding: 23px;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #A3AEBC;
  font-weight: 600;
  border-radius: 10px;
  font-size: 19px;
  max-width: 432px;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}
.btn-next:hover {
  color: #fff;
  background: #94a1b1;
}

.btn-next--blocked {
  cursor: not-allowed;
  opacity: 0.5;
}
.btn-next--blocked:hover {
  color: #fff;
  background: #a3aebc;
}

.bg_img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}
.bg_img img {
  display: block;
}

@media only screen and (max-width: 576px) {
  .enter-form {
    width: auto;
    padding: 20px 15px 30px 15px;
  }
}